---
import { BackgroundBeams } from '@/components/ui/background-beams';
import { Twitter, Gamepad2 } from 'lucide-astro';
import { Link } from '@/components/ui/link';
---
<style>
.video-overlay::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    left: 0;

}
</style>
<section class='relative'>
  
  <div class="w-full absolute video-overlay">
    <video src="/video/bg1.mp4" class="md:h-[600px] h-[400px]" autoplay muted loop playsinline style="width: 100%; object-fit: cover;"></video>
  </div>
  <div class='w-11/12 max-w-2xl mx-auto relative md:h-[600px] h-[400px] flex items-center flex-col justify-center z-10 text-center'>
    <div>
      <img src='images/logo.png' class='w-[200px]' alt='section-logo' />
    </div>

    <p class='font-medium text-balance text-white-500 pb-4'>
      Voidel Voidel Voidel Voidel Voidel Voidel Voidel Voidel Voidel
    </p>

    <div class='flex items-center justify-center gap-2'>
      <Link
        variant='secondary'
        target='_blank'
        rel='noopener noreferrer'
        href='https://www.roblox.com/games/7534035522/Tower-World-Alpha'
        title="Play Tower World"
        className='group max-md:order-2'
      >
        <Gamepad2 size='1rem' class='mr-1.5 shrink-0' />
        Play
      </Link>

      <Link href='/blog' title="Rizki's Writings" variant='ghost' className='group'>
        <Twitter size='0.975rem' class='mr-1.5 shrink-0' />
        Follow Us
      </Link>
    </div>
  </div>

  
</section>
