---
import Pre from '@/components/pre.astro';
import { Link } from '@/components/ui/link';
import { Image } from 'astro:assets';
---

<section
  class='flex flex-col lg:h-auto  lg:flex-row items-center w-11/12 lg:pt-20 pb-20 mx-auto max-w-6xl'
>
  <figure class='max-lg:w-full'>
    <Image
      width={600}
      height={600}
      loading='lazy'
      decoding='async'
      class='lg:mr-auto  lg:h-80 w-full lg:w-96 object-cover rounded'
      src='https://res.cloudinary.com/dmprgzjij/image/upload/v1729394480/qldbm479fu2kv2amd3wp.png'
      alt='Template Image'
 
    />
    <figcaption class='text-sm font-medium text-white-400 pt-2'>
      <em>Template Image</em>
    </figcaption>
  </figure>

  <div class='w-full pt-6 sm:pt-8 lg:pt-0 lg:pl-40'>
    

    <div class='max-w-2xl text-white-500 space-y-4 md:space-y-6'>
      <Pre>
        If you're looking to talk and discuss our games with fellow community members join our <Link
          variant='link'
          target='_blank'
          rel='noopener noreferrer'
          href='https://discord.gg/voidel'
          className='p-0 w-auto h-auto'
        >
          Discord</Link
        > Server.
      </Pre>
      <p class='text-white-400 font-medium'>
        We're a small group of developers who created <code
          class='bg-secondary text-secondary-foreground py-0.5 px-1 rounded'
          >Voidel Towers and Tower World</code
        >. We are currently looking for more developers and that could be
        <Link
          variant='link'
          target='_blank'
          rel='noopener noreferrer'
          href='https://voidel.com/jobs'
          className='p-0 w-auto h-auto text-inherit text-base underline'
        >
          YOU</Link
        >

        <p class='text-white-400 font-medium'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum neque lorem, non sodales neque blandit quis
          Cras nec justo ex. Integer pharetra erat magna, id sollicitudin leo finibus sit amet
          Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent faucibus nisl vel nulla. 
        </p>
      </p>
    </div>
  </div>
</section>
