<section class='lg:p-20 p-10' style="background-image: url('images/blog-bg.png');">
<div class="w-11/12 mx-auto max-w-5xl">
    <div class='flex justify-between items-center lg:flex-row flex-col gap-5'>
        <div class='flex items-center lg:flex-row flex-col lg:gap-10 gap-5'>
          <div>
            <img src='images/play.png' class='w-[200px]' alt='section-logo' />
          </div>
          <div>
            <h3 class='text-2xl italic text-center font-light'>Released</h3>
    
            <h3 class='text-4xl font-bold text-center'>2019</h3>
          </div>
          <div>
            <h4 class='text-1xl lg:text-left text-center font-normal'><span class='font-bold'>3.1B+</span> sessions</h4>
            <h4 class='text-1xl lg:text-left text-center font-normal'>
              <span class='font-bold'>2.5M+</span> monthly active player
            </h4>
            <h4 class='text-1xl lg:text-left text-center font-normal'><span class='font-bold'>120K+</span> peak CCU</h4>
          </div>
        </div>
        <div>
            <button class="bg-white py-2 px-7 text-black font-bold rounded-md uppercase hover:bg-transparent border-white hover:text-white border-2">
                <a href="#">Play</a>
            </button>
        </div>
        
      </div>
      <div>
        <p class="text-white-400 font-medium pt-10 italic lg:text-left text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum neque lorem, non sodales neque blandit quis
                      Cras nec justo ex. Integer pharetra erat magna, id sollicitudin leo finibus sit amet
                      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent faucibus nisl vel nulla.
            </p>
    </div>
</div>
</section>
